# VS Code
.vscode/

# Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# Ignorar arquivos ou pastas que contenham "v17" no nome (em qualquer lugar)
*v17*

# Arquivos de backup temporários
*.tmp
*.bak
*.swp
*~

# Mac OS e Windows
.DS_Store
Thumbs.db
