# VS Code
.vscode/

# Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates
*.slnx
.vs/

# Ignorar arquivos ou pastas que contenham "v17" no nome
*v17*

# SQLite files
*.sqlite
*.sqlite3
*.db
*.db3

# Arquivos de backup temporários
*.tmp
*.bak
*.swp
*~

# Mac OS e Windows
.DS_Store
Thumbs.db
